* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8fb;
    color: #333;
}

header {
    padding: 20px 60px;
    background-color: #f6f8fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 40px;
    margin-right: 50px;
    position: relative;
    left: 150px;
}


.logo h1 {
    font-size: 1.3rem;
    color: #333;
    font-weight: bold;
    margin-left: 100px;
}

.dark-mode .logo h1 {
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    margin-right: 760px;
}


.dark-mode .nav-links a {
    color: #ffffff;
}

.header-right {
    display: flex;
    align-items: center;
}


.theme-switch {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.theme-switch span {
    margin-right: 10px;
    color: #333;
    font-size: 0.9rem;
}


.dark-mode .theme-switch span {
    color: #ffffff;
}

#theme-toggle {
    display: none;
}

#theme-toggle + label {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50px;
    cursor: pointer;
}

#theme-toggle + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}


.dark-mode #theme-toggle + label {
    background-color: #555555;
}

.dark-mode #theme-toggle:checked + label:before {
    background-color: #ffffff;
    transform: translateX(20px);
}


.sign-in {
    display: flex;
    align-items: center;
    background-color: #6C63FF;
    color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.86rem;
    gap: 10px;
}


.dark-mode .sign-in {
    background-color: #333333;
    color: #ffffff;
}

.sign-in-icon {
    width: 18px;
    height: auto;
}

.header-contact-link {
    left: 420px;
    position: absolute;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.dark-mode .header-contact-link {
    color: #ffffff;
}


.dark-mode .dark-text {
    color: #ffffff;
}

.dark-mode .dark-input {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
}

.dark-mode .dark-card {
    background-color: #1e1e1e;
}
