.features-section {
    padding: 40px 60px;
    background-color: var(--background-color);
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.company-logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    opacity: 0.6;
}

.company-logos img {
    max-height: 100px;
    filter: grayscale(100%);
}

.features-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone-image {
    max-width: 45%;
}

.phone-image img {
    width: 100%;
    height: auto;
}

.features-content {
    max-width: 50%;
}

.features-content h2 {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.features-content p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 40px;
    line-height: 1.6;
}

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.feature-item {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feature-item img {
    height: 50px;
    margin-bottom: 10px;
}

.feature-item h3 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 1rem;
    color: var(--text-color);
    margin: 0;
    line-height: 1.6;
}


.dark-mode {
    background-color: var(--background-color);
    color: var(--text-color);
}

.dark-mode .company-logos img {
    filter: grayscale(0);
}

.dark-mode .features-content h2,
.dark-mode .features-content p,
.dark-mode .feature-item h3,
.dark-mode .feature-item p {
    color: var(--text-color);
}
