.how-it-works {
    padding: 100px 0;
    background-color: var(--background-color);
    text-align: center;
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: #121212;
}

.section-header {
    margin-bottom: 40px;
}

.phones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.phone {
    width: 100%;
    max-width: 200px;
    transition: opacity 0.3s ease;
}

.section-description h3,
.section-description p {
    font-size: 1rem;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.dark-text {
    color: var(--text-color);
}
