.newsletter-section { 
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -60px; 
}

.newsletter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e9effe;
    border-radius: 10px;
    padding: 25px 40px;
    width: 90%;
    height: 135px;
    max-width: 1000px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    gap: 20px;
}


.dark-mode .newsletter-box {
    background-color: #333;
}

.newsletter-icon img {
    width: 60px;
    height: 60px;
}

.newsletter-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: left;
    flex-grow: 1;
}


.dark-mode .newsletter-text {
    color: #ffffff;
}

.newsletter-form {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 500px;
}

.email-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}


.email-icon {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
}


.newsletter-form input {
    padding: 15px 20px;
    padding-left: 40px;
    border: 1px solid #bebebe;
    border-radius: 5px 0 0 5px; 
    font-size: 16px;
    flex: 1;
    outline: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}


.email-input {
    background-color: #fff;
    color: #333;
}


.dark-input {
    background-color: #444;
    color: #fff;
    border: 1px solid #555;
}

.newsletter-form button {
    padding: 16px 30px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0; 
    margin-left: 0; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.dark-mode .newsletter-form button {
    background-color: #555;
    color: white;
}


.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.success-message,
.error-message {
    margin-top: 10px;
    color: #333;
}


.dark-mode .success-message,
.dark-mode .error-message {
    color: #ffffff;
}
