.testimonials-section {
    padding: 60px 0;
    background-color: var(--background-color);
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title-column h2 {
    font-size: 2.3rem;
    color: var(--text-color);
    text-align: left;
    margin-left: 35px;
}

.content-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}

.testimonial-card {
    background-color: var(--card-background-color, #fff);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 300px;
    min-height: 300px;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dark-mode .testimonials-section {
    background-color: #121212;
}

.dark-mode .testimonial-card {
    background-color: var(--card-background-color, #1e1e1e);
}

.quote-icon {
    width: 60px;
    height: auto;
    position: absolute;
    top: -35px;
    left: 10px;
}

.rating {
    font-size: 1.2rem;
    color: #ffac33;
    margin-bottom: 10px;
}

.testimonial-text {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 20px;
    line-height: 1.6;
}

.testimonial-footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.testimonial-info h4 {
    font-size: 1.1rem;
    color: var(--text-color);
    margin: 0;
}

.testimonial-info p {
    font-size: 0.9rem;
    color: #999;
}

.dark-mode .testimonial-text,
.dark-mode .testimonial-info h4 {
    color: #ffffff;
}

.dark-mode .testimonial-info p {
    color: #cccccc;
}